*{
  font-family: 'Droid Serif', Georgia, Serif
}

::-moz-selection {
   background-color: #FFA07A;
   color: #000;
}

::selection {
    background-color: #FFA07A;
    color: #000;
}

body {
  padding: 0 1.5em;
}

p{
  font-size: 1.12em
}

h1.title{
  font-family: 'Audiowide', helvetica, sans-serif;
  font-size: 4.55em;
  color: #525252;
}

a.title{
  font-family: 'Audiowide', helvetica, sans-serif;
  color: #525252;
  text-decoration: none;
  border-bottom: none;
}

ul.nav li {
  list-style: none;
}

ul.nav a {
  border-bottom: none;
}

#sidebar {
  padding-top: 2em;
}

.side {
  position: fixed;
}

p.tagline{
  margin-top: -2.2em;
  font-size: 1.2em;
  font-family: Courier New, monospace;
}

footer.branding{
  font-size: 0.8em
}

footer.bottom{
  padding-bottom: 1.5em;
}