%footer.branding
  %p
    © Stevan C Wing 2011-
    - now = DateTime.now
    = now.year


/This stuff looks rubbish thus removed.
/----------------------------------------------

/#social-links
/ .fb-like{"data-href" => "http://www.stevancw.com", "data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
  
/ Place this tag where you want the +1 button to render
/.g-plusone{"data-href" => "http://www.stevancw.com", "data-size" => "tall"}


/----------------------------------------------



