%footer.branding
  %p
    © Stevan C Wing 2011
    / Powered by Nesta, a
    / = succeed "." do
    /   %a(href="http://nestacms.com") Ruby CMS

#social-links
  .fb-like{"data-href" => "http://www.stevancw.com", "data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
  
  / Place this tag where you want the +1 button to render
  .g-plusone{"data-href" => "http://www.stevancw.com", "data-size" => "tall"}