%header(role="banner")
  %hgroup
    %h1= @heading
    %h2= @subtitle
/  %img#logo{:alt => "Stevancw.com logo", :height => "150", :src => "http://download.fotolia.com/Content/CompImage/FotoliaComp_27691635_C1KrMGApXCDYACgs3wJXHBA19I0Gmyoo"}/