!!!
%html{:lang => 'en'}
  /
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  /
  %head
    %meta{:charset => 'utf-8'}
    - if @description
      %meta{:name => 'description', :content => @description}
    - if @keywords
      %meta{:name => 'keywords', :content => @keywords}
    %meta{:content => 'width=device-width, initial-scale=0.8', :name => 'viewport'}
    %meta{:content => '', :name => 'author'}/

    /Stylesheets
    %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Serif', :rel => 'stylesheet'}
    %link{:href => "http://fonts.googleapis.com/css?family=Audiowide", :rel => "stylesheet"}
    %link{:href => '/stylesheets/bootstrap-responsive.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/master.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/application.css', :media => 'screen', :rel => 'stylesheet'}
    
    /[if lte IE 6]
      %link{:rel => 'stylesheet', :href => 'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media =>'screen, projection'}
    /[if lt IE 9]
      %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}

    /XML
    %link{:href => '/articles.xml', :rel => 'alternate', :type => 'application/atom+xml'}
    
    /Favicons
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %title= @title
  %body
    .container-fluid
      .row-fluid
        .span12
          %img.pull-right.hidden-phone{:alt => "brain", :height => "150em", :src => "/images/brain.gif", :style => "float:right;opacity:0.8", :width => "132em"}/
          .header
            %h1.title
              %a.title{ :href => '/' } Stevancw
            %p.tagline A  blog by Stevan C Wing: beta 0.88
            %hr
      .row-fluid
        .span12
          .span7.offset1
            = yield
          .span3.pull-right#sidebar
            %ul.nav
              %li
                %a{:href => "/about-stevan-wing"}> About
              %li
                %a{:href => "/stevancw-blog"}> Blog
              /%li
              /  %a{:href => "/publications"}> Publications
              %li
                %a{:href => "/stevancw-speaking"}> Speaking
              %li
                %a{:href => "/doctors-learning-to-code"}> Coding
              %li
                %a{:href => "/stevan-wing-science"}> Science
              %li
                %a{:href => "/stevan-wing-videos"}> Videos
              %li
                %a{:href => "/things-I-like"}> Things I like
            %h3
              Links
            %ul.nav
              %li
                %a{:href => "http://www.neuroscience.cam.ac.uk/directory/profile.php?Stevancw"}> Cambridge Neuroscience
              %li
                %a{:href => "http://www.acnr.co.uk/"}> ACNR journal
              %li
                %a{:href => "https://sites.google.com/site/thebarkerlab/"}> The Barker Lab
              %li
                %a{:href => "http://thedigitaldoc.co.uk"}> The Digital Doctor
              %li
                %a{:href => "https://twitter.com/Stevancw"}> Twitter
              %li
                %a{:href => "https://github.com/Stevancw"}> GitHub
              %li
                %a{:href => "http://www.flickr.com/photos/stevancw/"}> flickr
              %li
                %a{:href => "http://zfer.us/kj8JX"}> Ruby on Rails Tutorial
            %ul.nav
              %li
                %a.feed{:href => "/articles.xml"}>Subscribe (Atom)
      .row-fluid.span10.offset1
        %footer
          = haml :footer, :layout => true
        .analytics
          = haml :analytics, :layout => true
