%nav.breadcrumb
  %a(href="/") Home

#content
  %section(role="main")
    %h1 Oops! Page not found, sorry.

    %p
      Please try another page or, if you think something is wrong with
      my site, please let me know on 
      %a {:href => 'http/www.twitter.com/stevancw'}>twitter.
= haml :sidebar, :layout => true