%nav.breadcrumb
  %a(href="/") Home

#content
  %section(role="main")
    %h1 Oops! Page not found, sorry.

    %p
      Please try another page or, if you think something is wrong with
      our site, do get in touch and let us know.

= haml :sidebar, :layout => true