#sidebar
  = haml :categories, :layout => true
  = haml :feed, :layout => true
  
/ Twitter feed

/ Twitter widget was here you deleted it because it was nasty- perhaps just put a few tweets via the twitter API instead.