#sidebar
  = haml :categories, :layout => true
  = haml :feed, :layout => true
  
/ Twitter feed

%script{:src => "http://widgets.twimg.com/j/2/widget.js"}
:javascript
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 10,
    interval: 30000,
    width: '250',
    height: 350,
    theme: {
      shell: {
        background: '#787878',
        color: '#eeeeee'
      },
      tweets: {
        background: '#ffffff',
        color: '#262631',
        links: '#006DD1'
      }
    },
    features: {
      scrollbar: true,
      loop: false,
      live: true,
      behavior: 'all'
    }
  }).render().setUser('Stevancw').start();