!!!
%html{:lang => 'en'}
  /
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  / Stevan C Wing
  /
  %head
    %meta{:charset => 'utf-8'}
    - if @description
      %meta{:name => 'description', :content => @description}
    - if @keywords
      %meta{:name => 'keywords', :content => @keywords}
    %meta{:content => 'width=device-width, initial-scale=0.8', :name => 'viewport'}
    %meta{:content => '', :name => 'author'}/

    /Stylesheets
    %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Serif', :rel => 'stylesheet'}
    %link{:href => "http://fonts.googleapis.com/css?family=Audiowide", :rel => "stylesheet"}
    %link{:href => '/bootstrap/bootstrap-responsive.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/master.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/application.css', :media => 'screen', :rel => 'stylesheet'}
    
    /[if lte IE 6]
      %link{:rel => 'stylesheet', :href => 'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media =>'screen, projection'}
    /[if lt IE 9]
      %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}

    /XML
    %link{:href => '/articles.xml', :rel => 'alternate', :type => 'application/atom+xml'}
    
    /Favicons
    %link{:href => "/bootstrap/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/bootstrap/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %title= @title
  %body
    .container-fluid
      .span12
        .row-fluid
          .span12
            .header
              %h1.title
                %a.title{ :href => '/' } Stevancw
              %p.tagline A  blog by Stevan C Wing: beta 0.82
              %hr
        .row-fluid
          .span12
            .span7.offset1
              = yield
            .span3.pull-right
              %ul.nav
                %li
                  %a{:href => "/about_stevan_wing"}> About
                %li
                  %a{:href => "/blog"}> Blog
                /%li
                /  %a{:href => "/blog"}> Publications
                /%li
                /  %a{:href => "/speaking"}> Speaking
                %li
                  %a{:href => "http://www.neuroscience.cam.ac.uk/directory/profile.php?Stevancw"}> Cambridge Neuroscience
                %li
                  %a{:href => "http://thedigitaldoc.co.uk"}> The Digital Doctor
                %li
                  %a{:href => "https://twitter.com/Stevancw"}> twitter
                %li
                  %a{:href => "http://www.flickr.com/photos/stevancw/"}> flickr
        .row-fluid.span10.offset1
          %footer
            = haml :footer, :layout => true
          .analytics
            = haml :analytics, :layout => true
