%h1 Welcome!

%p My name is Stevan Wing and I am a neurology trainee in the East of England currently doing a PhD looking into Parkinson's disease and Parkinson's disease dementia.

%p 
  I love, love, love the internet and web development and I collaborate on various different web design and development projects. If you feel like getting in touch the best way is to drop me a line on 
  %a{:href => "https://twitter.com/Stevancw"}Twitter

%h1 Latest from the blog

%section.articles= article_summaries(latest_articles)