:markdown
  #Welcome!

  My name is Stevan Wing and I am a neurology trainee in the East of England currently doing a PhD looking into Parkinson's disease and Parkinson's disease dementia.

  I am a electronics hobbiest and fully licenced radio amateur <a href="http://www.qrz.com/db/M0SCX" target="_blank">(M0SCX)</a>. I run a small web development compnay <a href="https://bowinger.com" target="_blank">Bowinger</a> and I collaborate on various different web design and development projects. If you feel like getting in touch the best way is to drop me a line on <a href="https://twitter.com/Stevancw" target="_blank">Twitter</a>.

  #Latest from the blog

%section.articles= article_summaries(latest_articles(4))
