%h1 Medicine


/ %section.articles= my_pages

/= Nesta::Page.find_all.select { |p| p.flagged_as?('wow') }

/= articles_heading

/ - Nesta::Page.find_all.each do |page|
/   %a{ :href => page.abspath }
/     #{page.heading}

