%h1 Videos

%h2 My Markdown tutorial
%p
 From
 %a{:href => 'http://podmedics.com'} Podmedics.com
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/6A5EpqqDOdk", :width => "640"}

%h2 How I manage bibliographies 
%p
 From
 %a{:href => 'http://neurocasts.com'} neurocasts.com
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/7JFUKDrMo2M", :width => "640"}


%h2 Email and the Power of Inbox Zero
%p
 From
 %a{:href => 'http://thedigitaldoc.co.uk'} The Digital Doctor Conference
 2012
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/2VypfAVXDiw", :width => "640"}

%hr

%h2 Save time with ZSH plugins

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/ejhugQaSLrg", :width => "640"}
